.pagination-container {
  color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right:10px ;
}
.pagination-btns,
.pagination-prev-btn,
.pagination-next-btn {
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.pagination-prev-btn,
.pagination-next-btn {
  position: relative;
  top: 2px;
}
#active-page {
  border-radius: 15px;
  background: var(--Primary-400, #34c94b);
  color: var(--color-black);
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:768px){
    .pagination-container {
        display: flex;
        width: max-content;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        left:105px;
      }
}